/* Общие стили страниц */
*{
    font-family: 'Comfortaa', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b
}
body {
    background: #f6f6f6;
}
a {
    text-decoration: none;
    color: inherit;
}

/* Стили для шапки */
header {
    background-color: var(--main-color);
    padding: 10px;
    height: 80px;
    float: left;
}
*header {
    color: #000000;
}
header h1 {
    margin-top: 6px;
}
header h1 a {
    color: #000000;
    text-decoration: none;
}
header h1 a:hover {
    color: #000000;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}
header ul li a:hover {
    background: var(--main-color);
    transition: 0.5s;
    color: #000;
}
header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 160px;
    display: none;
    z-index: 111;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a {
    padding: 10px;
    background: white;
    color: var(--main-color);
}

/* Стили для аккаунта */
.account_div {
    background: var(--second-color);
    height: 500px;
    margin-top: 30px;
    border-radius: 20px;
}
.account_div2 {
    background: var(--main-color);
    height: 120px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: left;
}
.margin-top-20 {
    margin-top: 20px;
}

.recommend_div {
    background: var(--second-color);
    height: 420px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 20px;
}
.recommend_div3{
    background: #ffffff;
    height: 100px;
    width: 350px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

.recommend_div2 {
    background: var(--main-color);
    height: 120px;
    margin-top: 50px;
    border-radius: 20px;
}
.recommend_div2 p{
    margin-top: 5px;
    font-size: 24px;
}

.figure_div {
    object-fit: cover;
    object-position: center;
    border-radius:50%;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    margin-left: 35px;
    background: white;
}
.figure_img {
    object-fit: cover;
    object-position: center;
    border-radius:50%;
    background: white;
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    transition: background ease-out 200ms;
}


/* Стили для подвала */
.footer {
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}
/*Стиль выбора цвета*/
label {
    font-family: sans-serif;
    width: 300px;
    display: block;
    position: relative;
}
input {
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
input[type=color] {
    padding: 0;
    border: 0;
    height: 40px;
}
input[type=color]:after {
    content: attr(data-value);
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #fffff5;
    display: block;
    width: 100%;
}
.color-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #666;
}
#primary_color{
    border: 3px solid #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
#second_color{
    border: 3px solid #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: none;
    -webkit-appearance: none;
}

#second_color::-webkit-color-swatch-wrapper {
    padding: 0;
}
#second_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
#avatar {
    object-fit: cover;
    object-position: center;
    border-radius:50%;
    margin-left: 35px;
    background: white;
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    transition: background ease-out 200ms;
}

#preview {
    position: relative;
}

input[type="file"] {
    display: none;
}