/* Общие стили страниц */
*{
    font-family: 'Comfortaa', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b
}
body {
    background: #f6f6f6;
}
a {
    text-decoration: none;
    color: inherit;
}

/* Стили для шапки */
header {
    background-color: #ebc7df;
    padding: 10px;
    height: 80px;
    float: left;
}
*header {
    color: #000000;
}
header h1 {
    margin-top: 6px;
}
header h1 a {
    color: #000000;
    text-decoration: none;
}
header h1 a:hover {
    color: #000000;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}
header ul li a:hover {
    background: #eac7df;
    transition: 0.5s;
    color: #000;
}
header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 160px;
    display: none;
    z-index: 111;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a {
    padding: 10px;
    background: white;
    color: #eac7df;
}



/* Стили для подвала */
.footer {
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}