/* Общие стили страниц */
* {
    font-family: 'Comfortaa', sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

body {
    background: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

/*Стиль выбора цвета*/
label {
    font-family: sans-serif;
    width: 300px;
    display: block;
    position: relative;
}

input {
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type=color] {
    padding: 0;
    border: 0;
    height: 40px;
}

input[type=color]:after {
    content: attr(data-value);
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #fffff5;
    display: block;
    width: 100%;
}

.color-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #666;
}

#primary_color {
    border: 3px solid var(--background-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#second_color {
    border: 3px solid var(--background-color);;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: none;
    -webkit-appearance: none;
}

#second_color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#second_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#avatar {
    border-radius: 50%;
    margin-left: 35px;
    background: var(--background-color);
    height: 150px;
    width: 150px;
    border: 3px solid var(--background-color);
    transition: background ease-out 200ms;
}

#preview {
    position: absolute;
}

input[type="file"] {
    display: none;
}

#separator {
    background: var(--main-color);
    width: 500px;
    height: 20px;
}

.button {
    background: var(--main-color);
}

/*переключатель темы*/
#toggle_checkbox {
    display: none;
}

label {
    position: static;
    width: 116px;
    height: 56px;
    margin-top: 30px;
    margin-left: 124px;
    margin-bottom: -20px;
    background-color: #fff;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1 {
    position: relative;
}

#star-2 {
    position: absolute;
    transform: rotateZ(36deg);
}

.star {
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon {
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
    background-color: #000;
}

#toggle_checkbox:checked + label #star {
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star {
    color: yellow;
}

#toggle_checkbox:checked + label #moon {
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before {
    background-color: #000;
}