.btn-primary {
    border: 2px solid var(--main-color) !important;
    background: var(--second-color) !important;
    color: var(--main-color) !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background: var(--main-color) !important;
    color: var(--second-color) !important;
}

.bet_time {
    float: right;
    margin-left: 50px;
    margin-top:10px;
    margin-right:10px;
}