/* Общие стили страниц */

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b
}
body {
    background: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Стили для сообщества */
.textNameGroups {
    font-size: 22px;
    text-align: left;
    margin-top: 20px;
    width: 600px;
    height: 25px;
}

.textDescGroups {
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
    width: 600px;
    height: auto;
    max-height: 140px;
    overflow-y: auto;
}
.wrapper {
    position: relative;
    max-height:100vh;
    max-width:100vw;
    overflow-x:hidden;
    overflow-y: scroll;
}
/*Стиль выбора цвета*/
label {
    font-family: sans-serif;
    width: 300px;
    display: block;
    position: relative;
}
#avatar {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 35px;
    height: 150px;
    width: 150px;
    border: 3px solid var(--background-color);
    transition: background ease-out 200ms;
}

#preview {
    position: relative;
}

input[type="file"] {
    display: none;
}
.box {
    position:relative;
}
.bet_time {
    float: right;
    margin-top:10px;
    margin-right:10px;
}

.b-container{
    width:500px;
    height:550px;
    margin:0px auto;
    padding:10px;
    font-size:30px;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin-left:520px;
    margin-top: 110px;
}