/* Стили для поста */
.post_div {
    background: var(--second-color);
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.nameGroups {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

.dataNews {
    font-size: 16px;
    text-align: left;
}

.div_post_item_list {
    height: 100%;
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    padding: 5px;
}

.figure_img_post_item_list {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 3px solid var(--background-color);
    margin-left: 5px;
    transition: background ease-out 200ms;
}

.name_post_item_list {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 75px;
    text-align: left;
}

.date_p_post_item_list {
    font-size: 16px;
    margin-top: -15px;
    margin-left: 75px;
    text-align: start;
    color: rgba(0, 0, 0, 0.5);
}

/* Кнопка лайка */
