/* div - основной элемент блока с информацией (в html иногда нужно добавлять margin-left),
а также необходимо устанавливать height для каждого блока*/
.block_div {
    background: var(--second-color);
    height: 600px;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 20px;
}

/* div с главным цветом */
.block_div_color {
    background: var(--main-color);
    height: 90px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: left;
}

/* div со вторым цветом для блоков информации */
.block_div_no_color {
    height: 72px;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 26px;
}

/* p - стиль для заголовка в block_div_no_color */
.block_p_no_color {
    margin-top: -10px;
}

/* Линия для разделения названия и информации в block_div_no_color */
.block_line {
    border-bottom: 3px solid var(--main-color);
    width: 100%;
}

/* Что-то... Пока удалять не стала */
.avatar_div {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: 50px;
    margin-left: 35px;
    background: white;
}

/* Аватар пользователя или картинка сообщества */
.avatar_img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background: white;
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    transition: background ease-out 200ms;
}

/* Фото поста */
.post_img {
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    background: white;
    width: 445px;
    height: 320px;
    border: 3px solid #fff;
    transition: background ease-out 200ms;
}