/* Общие стили страниц */
*{
    font-family: 'Comfortaa', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b
}
body {
    background: var(--background-color);
}
a {
    text-decoration: none;
    color: inherit;
}



/* Прокрутка элементов и стили скролла. Нужно изменять height при использовании!!!*/
.scroll {
    height: 100px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
}

.scroll::-webkit-scrollbar {
    width: 1px;
}
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}
.scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1px rgba(0,0,0,0.9);
}