/* Общие стили страниц */
*{
    font-family: 'Comfortaa', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b
}
body {
    background: var(--background-color);
}
a {
    text-decoration: none;
    color: inherit;
}

/* Потом удалить! а вообще это пример прокрутки страницы с элементом,
который остается на месте*/
.wrap {
    background-color: #52ff83ab;
    width: 90%;
    height: 2000px;
    margin: 30px;
}

.elem {
    background: #6052ff;
    width: 150px;
    height: 150px;
    color: #fcfcfc;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;

}