<!DOCTYPE html>
<html>
<head>
    <title>IG</title>
    <link rel="stylesheet" th:href="@{/css/group.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_layout_items.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_group.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_post.css}"/>
    <link rel="stylesheet" th:href="@{/css/color.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/button_up_page.css}"/>
    <link rel="stylesheet" th:href="@{/css/form_popup.css}"/>
    <script type="text/javascript" th:src="@{/js/getThemeFromCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/dateTimeEdit.js}"></script>
    <script type="text/javascript" th:src="@{/js/like.js}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!--<script type="text/javascript" th:src="@{/js/button_up_page.js}"></script>-->

    <!--Картинки-->
    <script src="https://kit.fontawesome.com/9e56eb5395.js" crossorigin="anonymous"></script>

    <!--Шрифты-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
</head>
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h1><a href="/">IG</a></h1>
            </div>
            <div class="col-3">
                <img src="/image/cat-icon.png" alt="Тут должна сидеть кошка!" height="95px"
                     style="margin-top: -18px; margin-left: -50px;"/>
            </div>
            <div class="col-3">
            </div>
            <div class="col-1">
                <!--<div class="flexbox">
                    <div class="search">
                        <div>
                            <input type="text" placeholder="Поиск..." required>
                        </div>
                    </div>
                </div>-->
            </div>
            <nav class="col-4">
                <ul>
                    <li><a href="/groups">Сообщества</a></li>
                    <li>
                        <div th:switch="${userLogin}">
                            <div th:case="null">
                                <a href="/log"><i class="fa-solid fa-user"></i>Аккаунт</a>
                                <!-- <ul>
                                     <li><a href="/new">Регистрация</a></li>
                                     <li><a href="/log">Авторизация</a></li>
                                 </ul>-->
                            </div>
                            <div th:case="*">
                                <a href="/account" th:text="${userLogin.login}"></a>
                                <ul>
                                    <li><a href="/exit">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body class="scroll-container" style="background: var(--background-color);">
<br/>
<br/>
<br/>
<div class="container text-center">
    <div class="row row-cols-auto">
        <div class="col-8" style="height: auto;">
            <!--Шапка сообщества-->
            <div class="block_div" style="height: auto; width: auto;">
                <div class="block_div_color">
                    <div id="subButton">
                        <div th:if="${sub==true}">
                            <button class="btn btn-primary bet_time" onclick="unsubscribe();">✓ Вы подписаны</button>
                        </div>
                        <div th:if="${sub==false}">
                            <button class="btn btn-primary bet_time" onclick="subscribe();">Подписаться</button>
                        </div>
                    </div>

                    <main>
                        <br/>
                        <input type="file" name="image" id="image" accept="image/*"/>
                        <div>
                            <img class="avatar_img" id="avatar" alt="image" th:src="${group.getAvtar()}"/>
                        </div>
                    </main>

                    <div class="main_div_group_item_list" style="margin-left: 710px; margin-top: -180px;">
                        <div class="icon_div_group_item_list" style="margin-top: 5px;">
                            <!--<i class="fa-solid fa-user" style="fill: var(&#45;&#45;main-color);"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill: var(--second-color);" height="15px"
                                 width="15" viewBox="0 0 448 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </div>
                        <div class="subscribes_div_group_item_list" id="countSub" style="margin-top: 10px;">
                            <p class="subscribes_p_group_item_list" style="color: var(--second-color);"
                               th:text="${group.getSubscribes()}"></p>
                        </div>
                    </div>
                </div>

                <form class="row justify-content-center" id="accountForm" action="#" method="post"> <!--th:action=""-->
                    <div class="mb-3 col-12 col-md-6" align="left">
                        <p id="nameGroups" class="textNameGroups p-text-color" th:text="${group.getName()}"/>
                        <p id="descGroups" class="textDescGroups p-text-color" th:text="${group.getDescription()}"/>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <!--Что-то-->
                <div class="block_div" id="addBlock"
                     style="margin-top: 30px; height: auto; width: 230px; position: absolute;">
                    <div class="block_div_no_color" style="margin-top: 0px;">
                        <br/>
                        <p class="block_p_no_color p-main-color">Действия</p>
                    </div>
                    <hr class="block_line"/>
                    <div th:if="${userLogin.getId()==group.getIdAdmin()}">
                        <div style="margin-top: -2px; margin-left: -2px; height: 50px;  margin-right: 10px;">
                            <button class="btn btn-primary c-button" style="margin-left: 10px;">
                                <i class="fa-solid fa-plus" style="fill: var(--second-color);"></i>
                                Предложка
                            </button>
                        </div>
                        <div style="margin-top: -2px; margin-left: -2px; height: 50px;  margin-right: 10px;">
                            <button class="btn btn-primary c-button" style="margin-left: 10px;">
                                <i class="fa-solid fa-plus" style="fill: var(--second-color);"></i>
                                Изменить
                            </button>
                        </div>
                    </div>
                    <div style="margin-top: -2px; margin-left: -2px; height: 50px; margin-right: 10px;">
                        <button class="btn btn-primary c-button" style="margin-left: 10px;" onclick="PopUpShow();">
                            <i class="fa-solid fa-plus" style="fill: var(--second-color);"></i>
                            Создать пост
                        </button>
                    </div>
                </div>
            </div>
            <div class="postList">
                <table style="height: 100%; width: 600px; margin-left: 260px; overflow-y: hidden;" class="scroll">
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td>
                            <!--Пост-->
                            <div class="block_div"
                                 style="padding: 5px 5px 20px; height: auto; margin-bottom: 5px;">
                                <div class="div_post_item_list">
                                    <div class="idPost" style="display: none;">
                                        <p th:text="${post.getId()}"></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 col-md-1">
                                            <img class="figure_img_post_item_list" alt="image"
                                                 th:src="${group.getAvtar()}"/>
                                        </div>
                                        <div class="col align-self-center" style="margin-left: -30px;">
                                            <p class="name_post_item_list p-text-color"
                                               th:text="${group.getName()}"></p>
                                            <div>
                                                <p class="date_p_post_item_list p-text-color"
                                                   th:text="${post.getDatePublication()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-self-center"
                                             style="margin-left: 0px; align-content: center">
                                            <p class="p-text-color"
                                               style="text-align: start; margin-left: 0px; margin-right: 0px; width: 525px; height: auto; max-height:120px; wrap-option: wrap; overflow-y: auto;"
                                               th:text="${post.getDescription()}"></p>
                                        </div>
                                    </div>
                                    <div th:if="${!post.getImg().isEmpty()}">
                                        <div class="row image" th:each="img : ${post.getImg()}">
                                            <div>
                                                <img align="middle"
                                                     style=" border-radius: 5px; display: block;height: 310px; width: 525px;"
                                                     th:src="${img}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col align-self-center"
                                             style="margin-left: 0px; justify-content: space-between;">
                                            <div class="like-container row">
                                                <button class="btn btn-primary"
                                                        th:onclick="'like(\'' + ${post.getId()} + '\');'"
                                                        style="margin-left: 13px; width: 80px; height: 40px;">
                                                    <content>
                                                        <i class="fa-regular fa-heart fa-bounce"
                                                           style="fill: var(--second-color); pointer-events: none;cursor: default;"></i>
                                                        <div th:if="${userLogin!=null}" style="display: none;">
                                                            <div th:each="like : ${likes}">
                                                                <div th:if="${like.getPostUserId().getUserId()==userLogin.getId()}">
                                                                    <div th:if="${like.getPostUserId().getPostId() == post.getId()}">
                                                                        <script th:inline="javascript">
                                                                            matchLike();
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="label"
                                                               style="width: fit-content; pointer-events: none;cursor: default;"
                                                               th:text=" ${post.getLikes()}"></label>
                                                    </content>
                                                </button>

                                                <button class="btn btn-primary c-button"
                                                        th:onclick="'comments(\'' + ${post.getId()} + '\');'"
                                                        style="margin-left: 10px; width: 75px; height: 40px;">
                                                    <i class="fa-regular fa-comment fa-beat-fade"
                                                       style="fill: var(--second-color);"></i>
                                                    <label style="width: fit-content;"
                                                           th:text="${post.getComments()}"></label>
                                                </button>

                                                <button class="btn btn-primary c-button"
                                                        th:onclick="'view(\'' + ${post.getId()} + '\');'"
                                                        style="margin-left: 10px; width: fit-content; height: 40px;">
                                                    <i class="fa-regular fa-eye" style="fill: var(--second-color);"></i>
                                                    <label style="width: fit-content;"
                                                           th:text=" ${post.getViews()}"></label>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="commentsList" style="display: none; margin-top: 0px;">
                                            <!--<hr class="block_line"
                                                style="margin-left: 0px; width: 526px; margin-top: 20px; margin-bottom: -5px;"/>-->
                                            <div th:each="comment : ${comments}">
                                                <div th:if="${comment == null}">
                                                    <p>Нет комментариев</p>
                                                </div>
                                                <div th:if="${comment != null}">
                                                    <div th:if="${comment.getIdPost() == post.getId()}">
                                                        <div th:each="userC : ${users}">
                                                            <div th:if="${comment.getIdUser() == userC.getId()}">
                                                                <div class="row" style="margin-top: -5px;">
                                                                    <!--Комментарий уровень 1-->
                                                                    <div class="row"
                                                                         th:if="${comment.getIdComments() == 0}">
                                                                        <hr class="block_line"
                                                                            style="margin-left: 0px; width: 538px; margin-top: 15px; margin-bottom: -5px;"/>
                                                                        <div class="col-2" style="margin-top: 15px;">
                                                                            <img class="figure_img_comment_item_list"
                                                                                 alt="image"
                                                                                 th:src="${userC.getImg()}"/>
                                                                        </div>
                                                                        <div class="col-10 align-self-center"
                                                                             style="margin-left: -90px; align-content: start;">
                                                                            <p class="name_user_comment_item_list p-text-color"
                                                                               th:text="${userC.getLogin()}"></p>
                                                                            <div>
                                                                                <p class="description_comment_item_list p-text-color"
                                                                                   th:text="${comment.getText()}"></p>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col align-self-center"
                                                                                     style="width: 400px; white-space: nowrap;">
                                                                                    <p class="date_p_comment_item_list p-text-color"
                                                                                       th:text="${comment.getDate()}"></p>
                                                                                </div>


                                                                                <div style="width: 50px; height: 10px; margin-top: 0px; margin-left: -70px; white-space: nowrap; background: rgba(0, 0, 0, 0);">
                                                                                    <!--Кнопка ответить и лайки!!!-->
                                                                                    <button class="btn no-button c-button"
                                                                                            th:onclick="'answer(\'' + ${comment.getId()} + '\');'">
                                                                                        <p class="p-text-color"
                                                                                           style="font-size: 12px; margin-top: -65px; margin-left: -280px; color: var(--main-color);">
                                                                                            Ответить</p>
                                                                                    </button>

                                                                                    <div style="margin-top: -113px;">
                                                                                        <i class="fa-regular fa-heart"
                                                                                           style="color: var(--main-color); margin-top: 0px; margin-left: 95px;"></i>
                                                                                        <label style="width: fit-content; font-size: 12px; margin-top: 0px; color: var(--main-color);"
                                                                                               th:text="${comment.getLikes()}"></label>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div th:each="subComment : ${comments}">
                                                                        <div th:if="${subComment.getIdComments() == comment.getId()}">
                                                                            <hr class="block_line"
                                                                                style="margin-left: 75px; width: 450px; margin-top: -10px;"/>
                                                                            <div th:each="userSC : ${users}">
                                                                                <div th:if="${subComment.getIdUser() == userSC.getId()}">
                                                                                    <div class="row"
                                                                                         style="margin-top: -20px; margin-left: 60px;">
                                                                                        <!--Комментарий уровень 2-->
                                                                                        <div class="col-2"
                                                                                             style="margin-top: 15px;">
                                                                                            <img class="figure_img_comment_item_list"
                                                                                                 alt="image"
                                                                                                 th:src="${userSC.getImg()}"/>
                                                                                        </div>
                                                                                        <div class="col-10 align-self-center"
                                                                                             style="margin-left: -80px; align-content: start;">
                                                                                            <p class="name_user_comment_item_list p-text-color"
                                                                                               th:text="${userSC.getLogin()}"></p>
                                                                                            <div>
                                                                                                <p class="description_comment_item_list p-text-color"
                                                                                                   style="width: 370px;"
                                                                                                   th:text="${subComment.getText()}"></p>
                                                                                            </div>
                                                                                            <div class="row"
                                                                                                 style="margin-bottom: 0px;">
                                                                                                <div class="col align-self-center"
                                                                                                     style="width: 200px; white-space: nowrap;">
                                                                                                    <p class="date_p_comment_item_list p-text-color"
                                                                                                       th:text="${subComment.getDate()}"></p>
                                                                                                </div>

                                                                                                <div style="width: 50px; height: 10px; margin-top: 0px; margin-left: -104px; white-space: nowrap; background: rgba(0, 0, 0, 0);">
                                                                                                    <!--Кнопка ответить и лайки!!!-->
                                                                                                    <button class="btn no-button c-button"
                                                                                                            th:onclick="'answer(\'' + ${comment.getId()} + '\');'">
                                                                                                        <p class="p-text-color"
                                                                                                           style="font-size: 12px; margin-top: -65px; margin-left: -280px; color: var(--main-color);">
                                                                                                            Ответить</p>
                                                                                                    </button>

                                                                                                    <div style="margin-top: -113px;">
                                                                                                        <i class="fa-regular fa-heart"
                                                                                                           style="color: var(--main-color); margin-top: 0px; margin-left: 95px;"></i>
                                                                                                        <label style="width: fit-content; font-size: 12px; margin-top: 0px; color: var(--main-color);"
                                                                                                               th:text="${comment.getLikes()}"></label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--<hr class="block_line"
                                                                                                style="margin-left: 75px; width: 372px; margin-top: -10px;"/>-->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--<div th:if="${comment.getIdComments() == 0}">
                                                                    <hr class="block_line"
                                                                        style="margin-left: 75px; width: 450px; margin-top: -10px;"/>
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-4" id="recGroup">
            <!--Список сообществ-->
            <div class="block_div" style="margin-top: 50px; margin-left: 30px; height: 500px; position: fixed;">
                <div class="block_div_no_color" style="margin-top: 0px;">
                    <br/>
                    <p class="block_p_no_color p-main-color">Рекомендации</p>
                </div>
                <hr class="block_line"/>
                <table style="margin-top: -15px; margin-left: -2px; height: 400px; margin-right: 10px;" class="scroll">
                    <tbody>
                    <tr th:if="${groups.isEmpty()}">
                        </br>
                        <p style="justify-content: center;"> Нет сообществ </p>
                    </tr>
                    <tr th:each="group : ${groups}">
                        <td>
                            <form id="groupForm" action="#" th:action="@{/group/{id}(id=${group.getId()})}"
                                  method="get">
                                <button type="submit" class="no-button">
                                    <div class="div_group_item_list">
                                        <div class="row">
                                            <div class="col-2 col-md-1">
                                                <img class="figure_img_group_item_list" alt="image"
                                                     th:src="${group.getAvtar()}"/>
                                            </div>
                                            <div class="col align-self-center">
                                                <p class="name_group_item_list" th:text="${group.getName()}"> Имя </p>
                                                <div class="main_div_group_item_list">
                                                    <div class="icon_div_group_item_list">
                                                        <!--<i class="fa-solid fa-user" style="fill: var(&#45;&#45;main-color);"></i>-->
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px" width="15"
                                                             viewBox="0 0 448 512">
                                                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="subscribes_div_group_item_list">
                                                        <p class="subscribes_p_group_item_list"
                                                           th:text="${group.getSubscribes()}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-up btn-up_hide"></div>
</div>
<div class="b-container" style="display: none;">
</div>
<div class="b-popup" id="popup2">
    <div class="center-screen" style="margin-top: -20px; margin-left: -40px;">
        <div class="block_div" style="width: 505px; height: 625px;">
            <div class="block_div_no_color">
                <div class="row">
                    <div class="col-10">
                        <p class="p-main-color" style="white-space: nowrap; margin-top: 30px; margin-left: 140px;">
                            Создание поста</p>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary bet_time" style="margin-top: 30px; margin-left: 100px;"
                                onclick="PopUpHide()"> X
                        </button>
                    </div>
                </div>
            </div>
            <hr class="block_line"/>
            <form class="col" id="postPublicForm" method="get" action="#"
                  style="margin-left: 40px; margin-right: 40px; margin-top: 10px;"> <!--th:action=""-->
                <div class="row">
                    <textarea type="text" name="desc" class="form-control" id="postInput"
                              placeholder="Содержимое поста"
                              style="width: 460px; white-space: normal; height: 105px; wrap-option: wrap;"></textarea>
                </div>
                <div class="w-100"></div>
            </form>
            <div class="w-100"></div>
            <main style="margin-left: 20px; margin-right: 20px;">
                <br/>
                <form method="post" th:action="@{/file/upload/post}" id="sendPostImage" enctype="multipart/form-data">
                    <input type="file" name="files" id="imagePost" class="form-control-file" multiple/>
                    <button id="btnInputPostImage" class="btn btn-primary" onclick="inputPostImage()">
                        <i class="fa-solid fa-plus" style="fill: var(--second-color);"></i>
                        Добавить изображение
                    </button>
                    <div class="row scroll" id="result"
                         style="height: 200px; overflow-y: hidden; overflow-x: scroll;">
                    </div>
                    <button id="btnSendPostImage" type="submit" style="display: none;" class="btn btn-primary"></button>
                </form>
                <div class="row">
                    <button class="btn btn-primary" id="publicPost" onclick="publicPost();"
                            style="margin-left: 200px; margin-top: 20px; width: auto;">Опубликовать
                    </button>
                    <p id="errorMessage" class="p-text-color"></p>
                </div>
            </main>
        </div>
    </div>
</div>
<div class="b-container" style="display: none;">
</div>
<!--Пост развёрнутый-->
<div class="b-popup" id="postDetails">
    <div class="center-screen" style="margin-top: -20px; margin-left: -40px;">
        <div class="block_div" style="width: 600px; height: 700px;">
            <div class="block_div" style="padding: 5px 5px 20px; height: auto; width: auto; margin-bottom: 5px;">
                <div class="div_post_item_list2" style="margin-left: 10px;">
                    <div class="scroll" style="height: 600px; margin-left: 15px; margin-right: 10px;">
                        <div class="col align-self-center btnClosePostDetails"
                             style="position: absolute; top: 35px; right: 20px;">
                            <button class="btn btn-primary bet_time"
                                    style="margin-top: 15px; margin-left: 50px;" onclick="commentsOff()"> X
                            </button>
                        </div>
                        <div id="divPostDetails">
                        </div>
                    </div>
                    <div class="row" style="position: absolute; bottom: 10px; ">
                        <!--Отправка комментария-->
                        <div class="block_div"
                             style="width: 538px; height: 70px; margin-left: 20px; margin-top: -20px;">
                            <div class="row" style="margin-top: -25px; margin-bottom: -20px;">
                                <hr class="block_line" style="margin-left: 7px; width: 526px; margin-top: 25px"/>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-2" style="margin-top: 0px;">
                                    <img class="figure_img_comment_item_list" alt="image"
                                         th:src="${userLogin.getImg()}"/>
                                </div>
                                <div class="col-9" style="margin-top: 10px; margin-left: -15px;">
                                    <input required type="text" name="name" class="form-control margin-top-20"
                                           id="commentsInput"
                                           aria-describedby="nameHelp" placeholder="Комментарий..."
                                           style="width: 400px;"
                                           minlength="1" oninvalid="this.setCustomValidity('Пустое поле не допустимо')"
                                           oninput="this.setCustomValidity('')"/>
                                </div>
                                <div class="col-1" style="margin-top: 10px; margin-left: 5px;">
                                    <!-- <button class="btn btn-primary c-button"
                                             th:onclick="'sendComments(\'' + ${post.getId()} + '\');'"
                                             style="margin-left: 10px; width: 75px; height: 40px;">
                                         <i class="fa-regular fa-comment fa-beat-fade"
                                            style="fill: var(&#45;&#45;second-color);"></i>
                                         <label style="width: fit-content;" th:text="100"></label>
                                     </button>-->
                                    <i id="sendComments" class="fa-regular fa-paper-plane"
                                       style="color: var(--main-color); font-size: 30px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    //добавление изображения к созданию поста!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    var filesInput = document.getElementById("imagePost");
    filesInput.addEventListener("change", function (event) {
        var files = event.target.files; //FileList object
        var output = document.getElementById("result");
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            //Only pics
            if (!file.type.match('image'))
                continue;
            var picReader = new FileReader();
            picReader.addEventListener("load", function (event) {
                var picFile = event.target;
                var div = document.createElement("div");
                div.innerHTML = '<img class="thumbnail" src="' + picFile.result + '" />' +
                    '<button onclick="removeImage();" class="btn btn-primary img-remove">x</button>';
                output.insertBefore(div, null);
            });
            //Read the image
            picReader.readAsDataURL(file);
        }
    });

    //даление изображения из списка
    function removeImage() {
        var button = event.target;
        let image = button.previousElementSibling;
        image.remove();
        button.remove();
    }

    //вызов input при нажатии на кнопку "загрузить изображения"
    function inputPostImage() {
        event.preventDefault();
        document.getElementById("imagePost").click();
    }

    //отправка формы. Создание поста
    function publicPost() {
        let images = document.getElementsByClassName('thumbnail');
        const formData = {
            text: document.getElementById("postInput").value,
            countImage: images.length,
        };
        $.ajax({
            url: "/publicPost",
            type: "GET",
            data: formData,
            success: function (response) {
                if (response === "Success") {
                    const btnSendPostImage = document.getElementById("btnSendPostImage");
                    btnSendPostImage.click();
                }
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        //Скрыть PopUp при загрузке страницы
        dateReload();
        PopUpHide();
        $("#postDetails").hide();
    });
    let selectedPostId;
    let subComment = 0;

    function comments(postId) {
        const div = document.getElementsByClassName("div_post_item_list");
        for (let i = 0; i < div.length; i++) {
            if (div[i].getElementsByTagName('p')[0].textContent === postId) {
                selectedPostId = postId;
                document.querySelector("#divPostDetails").innerHTML = div.item(i).innerHTML;
                document.querySelector("#divPostDetails").getElementsByClassName("commentsList")[0].style.display = "block";
                $("#postDetails").show();
            }
        }
    }


    function answer(commentId) {
        subComment = commentId;
    }

    document.getElementById('sendComments')
        .addEventListener('click', function (event) {
            const inputComments = document.getElementById('commentsInput');
            if (inputComments.value !== "") {
                const formData = {
                    postId: selectedPostId.toString(),
                    textComment: inputComments.value,
                    idComments: subComment,
                };
                $.ajax({
                    url: "/sendComment",
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response === "Success") {
                            inputComments.value = "";
                            subComment = 0;
                            const deleteElement = document.querySelector("#divPostDetails");
                            deleteElement.innerHTML = '';
                            $("#postDetails").hide();
                            $.get("/updatePostList").done(function (fragment) { // get from controller
                                $('.postList').replaceWith(fragment);
                            });
                            const div = document.getElementsByClassName("div_post_item_list");
                            alert(div.length);
                            for (let i = 0; i < div.length; i++) {
                                if (div[i].getElementsByTagName('p')[0].textContent === selectedPostId) {
                                    document.querySelector("#divPostDetails").innerHTML = div.item(i).innerHTML;
                                    document.querySelector("#divPostDetails").getElementsByClassName("commentsList")[0].style.display = "block";
                                    $("#postDetails").show();
                                }
                            }
                        }
                    }
                });
            }
        });

    function updatePostList() {
        $.get("/updatePostList").done(function (fragment) { // get from controller
            $('.postList').replaceWith(fragment);
            dateReload();
        });
    }

    function commentsOff() {
        const deleteElement = document.querySelector("#divPostDetails");
        deleteElement.innerHTML = '';
        $("#postDetails").hide();
        updatePostList();
        dateReload();
        //reloadDatePost();
    }


    function view(postId) {
        updatePostList();
    }

    //Функция отображения PopUp
    function PopUpShow() {
        $("#popup2").show();
    }

    //Функция скрытия PopUp
    function PopUpHide() {
        $("#popup2").hide();
    }
</script>
<script>
    var ad = $('#addBlock');
    var min_scroll = 312; // Set your minimum scroll amount here
    $(window).scroll(
        function () {
            var t = $(window).scrollTop();
            if (t > min_scroll) {
                // define your scroll CSS here
                ad.css({marginTop: -280});
                ad.css({position: "fixed"});
            } else {
                ad.css({marginTop: 30});
                ad.css({position: "absolute"});
            }
        }
    );
</script>
<script>
    <!--  Кнопка "наверх"  -->
    const btnUp = {
        el: document.querySelector('.btn-up'),
        scrolling: false,
        show() {
            if (this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.remove('btn-up_hide');
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        hide() {
            if (!this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.add('btn-up_hide');
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        addEventListener() {
            // при прокрутке окна (window)
            window.addEventListener('scroll', () => {
                const scrollY = window.scrollY || document.documentElement.scrollTop;
                if (this.scrolling && scrollY > 0) {
                    return;
                }
                this.scrolling = false;
                // если пользователь прокрутил страницу более чем на 200px
                if (scrollY > 200) {
                    // сделаем кнопку .btn-up видимой
                    this.show();
                } else {
                    // иначе скроем кнопку .btn-up
                    this.hide();
                }
            });
            // при нажатии на кнопку .btn-up
            document.querySelector('.btn-up').onclick = () => {
                this.scrolling = true;
                this.hide();
                // переместиться в верхнюю часть страницы
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            }
        }
    }

    btnUp.addEventListener();
</script>
<script>
    function subscribe() {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию
        $.ajax({
            url: "/sub",
            type: "POST",
            success: function (response) {
                if (response === "Success") {
                    $("#subButton").load(" #subButton > *");
                    $("#recGroup").load(" #recGroup > *");
                    $("#countSub").load(" #countSub > *");
                }
            }
        });
    }

    function unsubscribe() {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию
        $.ajax({
            url: "/unsub",
            type: "POST",
            success: function (response) {
                if (response === "Success") {
                    $("#subButton").load(" #subButton > *");
                    $("#recGroup").load(" #recGroup > *");
                    $("#countSub").load(" #countSub > *");
                }
            }
        });
    }
</script>
<script>
    const FILE_INPUT = document.querySelector("input[type=file]");
    const AVATAR = document.getElementById("avatar");
    AVATAR.addEventListener("click", () => FILE_INPUT.click());
    FILE_INPUT.addEventListener("change", event => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
            AVATAR.setAttribute("aria-label", file.name);
            AVATAR.src = `${reader.result}`;
            const formData = {
                url: reader.result
            };
            $.ajax({
                url: "/changeImg",
                type: "POST",
                data: formData,
                success: function (authResponse) {
                }
            });
        };
    });
    document.addEventListener('DOMContentLoaded', function () {
    }, false);
</script>
</html>