<!DOCTYPE html>
<html>
<head>
    <title>IG</title>
    <link rel="stylesheet" th:href="@{/css/group.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_layout_items.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_group.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_post.css}"/>
    <link rel="stylesheet" th:href="@{/css/color.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/button_up_page.css}"/>
    <link rel="stylesheet" th:href="@{/css/form_popup.css}"/>
    <script type="text/javascript" th:src="@{/js/getThemeFromCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/dateTimeEdit.js}"></script>
    <script type="text/javascript" th:src="@{/js/like.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/button_up_page.js}"></script>-->

    <!--Картинки-->
    <script src="https://kit.fontawesome.com/9e56eb5395.js" crossorigin="anonymous"></script>

    <!--Шрифты-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
</head>
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h1><a href="/">IG</a></h1>
            </div>
            <div class="col-3">
                <img src="/image/cat-icon.png" alt="Тут должна сидеть кошка!" height="95px"
                     style="margin-top: -18px; margin-left: -50px;"/>
            </div>
            <div class="col-3">
            </div>
            <div class="col-1">
                <!--<div class="flexbox">
                    <div class="search">
                        <div>
                            <input type="text" placeholder="Поиск..." required>
                        </div>
                    </div>
                </div>-->
            </div>
            <nav class="col-4">
                <ul>
                    <li><a href="/groups">Сообщества</a></li>
                    <li>
                        <div th:switch="${userLogin}">
                            <div th:case="null">
                                <a href="/log"><i class="fa-solid fa-user"></i>Аккаунт</a>
                                <!-- <ul>
                                     <li><a href="/new">Регистрация</a></li>
                                     <li><a href="/log">Авторизация</a></li>
                                 </ul>-->
                            </div>
                            <div th:case="*">
                                <a href="/account" th:text="${userLogin.login}"></a>
                                <ul>
                                    <li><a href="/exit">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body class="scroll-container" style="background: var(--background-color);">
<br/>
<br/>
<br/>
<div class="container text-center">
    <div class="row row-cols-auto">
        <div class="col-8" style="height: auto;">
            <!--Шапка сообщества-->
            <div class="block_div" style="height: auto; width: auto;">
                <div class="block_div_color">
                    <div id="subButton">
                        <div th:if="${sub==true}">
                            <button class="btn btn-primary bet_time" onclick="unsubscribe();">✓ Вы подписаны</button>
                        </div>
                        <div th:if="${sub==false}">
                            <button class="btn btn-primary bet_time" onclick="subscribe();">Подписаться</button>
                        </div>
                    </div>

                    <main>
                        <br/>
                        <input type="file" name="image" id="image" accept="image/*"/>
                        <div>
                            <img class="avatar_img" id="avatar" alt="image" th:src="${group.getAvtar()}"/>
                        </div>
                    </main>

                    <div class="main_div_group_item_list" style="margin-left: 710px; margin-top: -180px;">
                        <div class="icon_div_group_item_list" style="margin-top: 5px;">
                            <!--<i class="fa-solid fa-user" style="fill: var(&#45;&#45;main-color);"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" style="fill: var(--second-color);" height="15px"
                                 width="15" viewBox="0 0 448 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </div>
                        <div class="subscribes_div_group_item_list" id="countSub" style="margin-top: 10px;">
                            <p class="subscribes_p_group_item_list" style="color: var(--second-color);"
                               th:text="${group.getSubscribes()}"></p>
                        </div>
                    </div>
                </div>

                <form class="row justify-content-center" id="accountForm" action="#" method="post"> <!--th:action=""-->
                    <div class="mb-3 col-12 col-md-6" align="left">
                        <p id="nameGroups" class="textNameGroups p-text-color" th:text="${group.getName()}"/>
                        <p id="descGroups" class="textDescGroups p-text-color" th:text="${group.getDescription()}"/>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <!--Что-то-->
                <div class="block_div" id="addBlock"
                     style="margin-top: 30px; height: auto; width: 230px; position: absolute;">
                    <div class="block_div_no_color" style="margin-top: 0px;">
                        <br/>
                        <p class="block_p_no_color p-main-color">Что-то</p>
                    </div>
                    <hr class="block_line"/>
                    <div style="margin-top: -2px; margin-left: -2px; height: 400px; margin-right: 10px;">
                        <button class="btn btn-primary c-button" style="margin-left: 10px;" onclick="PopUpShow();">
                            <i class="fa-solid fa-plus" style="fill: var(--second-color);"></i>
                            Создать пост
                        </button>
                    </div>
                </div>
            </div>
            <table style="height: 100%; width: 600px; margin-left: 260px; overflow-y: hidden;" class="scroll">
                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <!--Пост-->
                        <div class="block_div" style="padding: 5px 5px 20px; height: auto; margin-bottom: 5px;">
                            <div class="div_post_item_list">
                                <div class="row">
                                    <div class="col-2 col-md-1">
                                        <img class="figure_img_post_item_list" alt="image"
                                             th:src="${group.getAvtar()}"/>
                                    </div>
                                    <div class="col align-self-center" style="margin-left: -30px;">
                                        <p class="name_post_item_list p-text-color" th:text="${group.getName()}"></p>
                                        <div>
                                            <p class="date_p_post_item_list p-text-color"></p>
                                            <script th:inline="javascript">
                                                showMessage([[${post.getDatePublication()}]]);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col align-self-center" style="margin-left: 0px; align-content: center">
                                        <p class="p-text-color"
                                           style="text-align: start; margin-left: 0px; margin-right: 0px; width: 525px; height: auto; max-height:120px; overflow-y: auto;"
                                           th:text="${post.getDescription()}"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col align-self-center" style="margin-left: 0px;">
                                        <img style="align-content: start; margin-left: -50px; margin-top: 0px; margin-right: 0px; height: 310px; width: 525px;"
                                             th:src="${post.getImg()}"/>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col align-self-center"
                                         style="margin-left: 0px; justify-content: space-between;">
                                        <div class="like-container row">
                                            <button class="btn btn-primary"
                                                    th:onclick="'like(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 0px; width: 80px; height: 40px;">
                                                <i class="fa-regular fa-heart fa-bounce"
                                                   style="fill: var(--second-color); pointer-events: none;cursor: default;"></i>
                                                <div th:each="like : ${likes}" style="display: none;">
                                                    <div th:if="${like.getPostUserId().getUserId()==userLogin.getId()}">
                                                        <div th:if="${like.getPostUserId().getPostId() == post.getId()}">
                                                            <script th:inline="javascript">
                                                                matchLike();
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="label"
                                                       style="width: fit-content; pointer-events: none;cursor: default;"
                                                       th:text=" ${post.getLikes()}"></label>
                                            </button>

                                            <button class="btn btn-primary c-button"
                                                    th:onclick="'comments(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 10px; width: 75px; height: 40px;">
                                                <i class="fa-regular fa-comment fa-beat-fade"
                                                   style="fill: var(--second-color);"></i>
                                                <label style="width: fit-content;" th:text="100"></label>
                                            </button>

                                            <button class="btn btn-primary c-button"
                                                    th:onclick="'view(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 10px; width: fit-content; height: 40px;">
                                                <i class="fa-regular fa-eye" style="fill: var(--second-color);"></i>
                                                <label style="width: fit-content;"
                                                       th:text=" ${post.getViews()}"></label>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4" id="recGroup">
            <!--Список сообществ-->
            <div class="block_div" style="margin-top: 50px; margin-left: 30px; height: 500px; position: fixed;">
                <div class="block_div_no_color" style="margin-top: 0px;">
                    <br/>
                    <p class="block_p_no_color p-main-color">Рекомендации</p>
                </div>
                <hr class="block_line"/>
                <table style="margin-top: -15px; margin-left: -2px; height: 400px; margin-right: 10px;" class="scroll">
                    <tbody>
                    <tr th:if="${groups.isEmpty()}">
                        </br>
                        <p style="justify-content: center;"> Нет сообществ </p>
                    </tr>
                    <tr th:each="group : ${groups}">
                        <td>
                            <form id="groupForm" action="#" th:action="@{/group/{id}(id=${group.getId()})}"
                                  method="get">
                                <button type="submit" class="no-button">
                                    <div class="div_group_item_list">
                                        <div class="row">
                                            <div class="col-2 col-md-1">
                                                <img class="figure_img_group_item_list" alt="image"
                                                     th:src="${group.getAvtar()}"/>
                                            </div>
                                            <div class="col align-self-center">
                                                <p class="name_group_item_list" th:text="${group.getName()}"> Имя </p>
                                                <div class="main_div_group_item_list">
                                                    <div class="icon_div_group_item_list">
                                                        <!--<i class="fa-solid fa-user" style="fill: var(&#45;&#45;main-color);"></i>-->
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="15px" width="15"
                                                             viewBox="0 0 448 512">
                                                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="subscribes_div_group_item_list">
                                                        <p class="subscribes_p_group_item_list"
                                                           th:text="${group.getSubscribes()}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-up btn-up_hide"></div>
</div>
<div class="b-container" style="display: none;">
</div>
<div class="b-popup" id="popup2">
    <div class="b-popup-content">
        <div class="col-5" style="height: auto;">
            <!--Создание поста-->
            <div class="block_div" style="height: 650px; margin-left: 25px; width: 520px;">
                <div class="block_div_no_color">
                    <div class="row">
                        <div class="col-7">
                            <p class="p-main-color">Создание поста </p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary bet_time" onclick="PopUpHide()"> X</button>
                        </div>
                    </div>
                </div>
                <hr class="block_line"/>
            </div>
        </div>
    </div>
</div>
<div class="b-container" style="display: none;">
</div>
<!--Пост развёрнутый-->
<div class="b-popup" id="postDetails">
    <div class="center-screen" style="margin-top: -20px; margin-left: -40px;">
        <div class="block_div" style="width: 600px; height: 600px;">
            <div class="block_div" style="padding: 5px 5px 20px; height: auto; margin-bottom: 5px;">
                <div class="div_post_item_list" style="margin-left: 10px;">
                    <div class="scroll" style="height: 600px; margin-left: 15px; margin-right: 10px;">
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <img class="figure_img_post_item_list" alt="image"
                                     src="https://i.pinimg.com/originals/d7/a5/1d/d7a51dc87377465175258827ef40e9c9.jpg"/>
                                <!--th:src="${group.getAvtar()}"/>-->
                            </div>
                            <div class="col align-self-center" style="margin-left: -30px;">
                                <p class="name_post_item_list p-text-color">Genshin Impact</p>
                                <!--th:text="${group.getName()}"></p>-->
                                <div>
                                    <p class="date_p_post_item_list p-text-color">26 янв в 11:40</p>
                                    <!--Функция для вывода даты!!!!!!!!!!!!!!!!!!!!!!-->
                                </div>
                            </div>
                            <div class="col align-self-center" style="position: absolute; top: 40px; right: 0px;">
                                <button class="btn btn-primary bet_time" style="margin-top: 15px; margin-left: 50px;" onclick="commentsOff()"> X </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-self-center" style="margin-left: 0px; align-content: center">
                                <p class="p-text-color"
                                   style="text-align: start; margin-left: 0px; margin-right: 0px; width: 525px; height: auto; max-height:120px; overflow-y: auto;"
                                >Привет, Путешественники! Сегодня мы познакомим вас с Сянь Юнь. Это Просветлённый Адепт,
                                    которого называют титулом Хранитель Облаков. Никто не сравнится с ней в искусстве
                                    механики.</p>
                                <!--th:text="${post.getDescription()}"></p>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-self-center" style="margin-left: 0px;">
                                <img style="align-content: start; margin-left: 0px; margin-top: 0px; margin-right: 0px; height: 310px; width: 525px;"
                                     src="https://sun9-45.userapi.com/impg/Jwurr7BpdAVcztGEK923exe5UmbHnzMYndcT9A/0Ik1uEKayjM.jpg?size=1200x675&quality=96&sign=80c08cb9d51158e8f4e8e25f3871f033&type=album"/>
                                <!--th:src="${post.getImg()}"/>-->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col align-self-center"
                                 style="margin-left: 0px; justify-content: space-between;">
                                <div class="like-container row">
                                    <!--<button class="btn btn-primary" th:onclick="'like(\'' + ${post.getId()} + '\');'" style="margin-left: 0px; width: 80px; height: 40px;">
                                        <i class="fa-regular fa-heart fa-bounce"  style="fill: var(&#45;&#45;second-color); pointer-events: none;cursor: default;"></i>
                                        <div th:each="like : ${likes}" style="display: none;">
                                            <div th:if="${like.getPostUserId().getUserId()==userLogin.getId()}">
                                                <div th:if="${like.getPostUserId().getPostId() == post.getId()}">
                                                    <script th:inline="javascript">
                                                        matchLike();
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="label" style="width: fit-content; pointer-events: none;cursor: default;" th:text=" ${post.getLikes()}"></label>
                                    </button>-->

                                    <button class="btn btn-primary c-button"
                                            style="margin-left: 13px; width: 75px; height: 40px;">
                                        <!--th:onclick="'comments(\'' + ${post.getId()} + '\');'" -->
                                        <i class="fa-regular fa-heart fa-bounce"
                                           style="fill: var(--second-color);"></i>
                                        <label style="width: fit-content;" th:text="5"></label>
                                    </button>

                                    <button class="btn btn-primary c-button"
                                            style="margin-left: 10px; width: 75px; height: 40px;">
                                        <!--th:onclick="'comments(\'' + ${post.getId()} + '\');'" -->
                                        <i class="fa-regular fa-comment fa-beat-fade"
                                           style="fill: var(--second-color);"></i>
                                        <label style="width: fit-content;" th:text="100"></label>
                                    </button>

                                    <button class="btn btn-primary c-button"
                                            style="margin-left: 10px; width: fit-content; height: 40px;">
                                        <!--th:onclick="'view(\'' + ${post.getId()} + '\');'" -->
                                        <i class="fa-regular fa-eye" style="fill: var(--second-color);"></i>
                                        <label style="width: fit-content;">4</label>
                                        <!--th:text=" ${post.getViews()}"></label>-->
                                    </button>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function () {
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
        commentsOff();
    });

    function comments(postId) {

        $("#postDetails").show();
    }

    function commentsOff() {

        $("#postDetails").hide();
    }

    function view(postId) {
        alert(postId);
    }

    //Функция отображения PopUp
    function PopUpShow() {
        $("#popup2").show();
    }

    //Функция скрытия PopUp
    function PopUpHide() {
        $("#popup2").hide();
    }
</script>
<script>
    var ad = $('#addBlock');
    var min_scroll = 312; // Set your minimum scroll amount here
    $(window).scroll(
        function () {
            var t = $(window).scrollTop();
            if (t > min_scroll) {
                // define your scroll CSS here
                ad.css({marginTop: -280});
                ad.css({position: "fixed"});
            } else {
                ad.css({marginTop: 30});
                ad.css({position: "absolute"});
            }
        }
    );
</script>
<script>
    <!--  Кнопка "наверх"  -->
    const btnUp = {
        el: document.querySelector('.btn-up'),
        scrolling: false,
        show() {
            if (this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.remove('btn-up_hide');
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        hide() {
            if (!this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.add('btn-up_hide');
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        addEventListener() {
            // при прокрутке окна (window)
            window.addEventListener('scroll', () => {
                const scrollY = window.scrollY || document.documentElement.scrollTop;
                if (this.scrolling && scrollY > 0) {
                    return;
                }
                this.scrolling = false;
                // если пользователь прокрутил страницу более чем на 200px
                if (scrollY > 200) {
                    // сделаем кнопку .btn-up видимой
                    this.show();
                } else {
                    // иначе скроем кнопку .btn-up
                    this.hide();
                }
            });
            // при нажатии на кнопку .btn-up
            document.querySelector('.btn-up').onclick = () => {
                this.scrolling = true;
                this.hide();
                // переместиться в верхнюю часть страницы
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            }
        }
    }

    btnUp.addEventListener();
</script>
<script>
    function subscribe() {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию
        $.ajax({
            url: "/sub",
            type: "POST",
            success: function (response) {
                if (response === "Success") {
                    $("#subButton").load(" #subButton > *");
                    $("#recGroup").load(" #recGroup > *");
                    $("#countSub").load(" #countSub > *");
                }
            }
        });
    }

    function unsubscribe() {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию
        $.ajax({
            url: "/unsub",
            type: "POST",
            success: function (response) {
                if (response === "Success") {
                    $("#subButton").load(" #subButton > *");
                    $("#recGroup").load(" #recGroup > *");
                    $("#countSub").load(" #countSub > *");
                }
            }
        });
    }
</script>
<script>
    const FILE_INPUT = document.querySelector("input[type=file]");
    const AVATAR = document.getElementById("avatar");
    AVATAR.addEventListener("click", () => FILE_INPUT.click());
    FILE_INPUT.addEventListener("change", event => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
            AVATAR.setAttribute("aria-label", file.name);
            AVATAR.src = `${reader.result}`;
            const formData = {
                url: reader.result
            };
            $.ajax({
                url: "/changeImg",
                type: "POST",
                data: formData,
                success: function (authResponse) {
                }
            });
        };
    });
    document.addEventListener('DOMContentLoaded', function () {
    }, false);
</script>
</html>