<!DOCTYPE html>
<html>
<head>
    <title>IG</title>
    <link rel="stylesheet" th:href="@{/css/group.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_layout_items.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_group.css}"/>
    <link rel="stylesheet" th:href="@{/css/item_list_post.css}"/>
    <link rel="stylesheet" th:href="@{/css/color.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/button_up_page.css}"/>
    <link rel="stylesheet" th:href="@{/css/search.css}"/>
    <link rel="stylesheet" th:href="@{/css/toastify.css}"/>
    <link rel="stylesheet" th:href="@{/css/form_popup.css}"/>
    <script type="text/javascript" th:src="@{/js/getThemeFromCookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/dateTimeEdit.js}"></script>
    <script type="text/javascript" th:src="@{/js/like.js}"></script>
    <!-- bootstrap-show-toast -->
    <script type="text/javascript" th:src="@{/js/toastify.js}"></script>
    <!--Картинки-->
    <script src="https://kit.fontawesome.com/9e56eb5395.js" crossorigin="anonymous"></script>

    <!--Шрифты-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

</head>
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h1><a href="/">IG</a></h1>
            </div>
            <div class="col-3">
                <img src="/image/cat-icon.png" alt="Тут должна сидеть кошка!" height="95px"
                     style="margin-top: -18px; margin-left: -50px;"/>
            </div>
            <div class="col-3">
            </div>
            <div class="col-1">
                <div class="flexbox">
                    <div class="search">
                        <div>
                            <input type="text" placeholder="Поиск..." required>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="col-4">
                <ul>
                    <li><a href="/groups">Сообщества</a></li>
                    <li>
                        <div th:switch="${userLogin}">
                            <div th:case="null">
                                <a href="/log"><i class="fa-solid fa-user"></i>Аккаунт</a>
                                <!--<ul>
                                    <li><a href="/new">Регистрация</a></li>
                                    <li><a href="/log">Авторизация</a></li>
                                </ul>-->
                            </div>
                            <div th:case="*">
                                <a href="/account" th:text="${userLogin.login}"></a>
                                <ul>
                                    <li><a href="/exit">Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body style="background: var(--background-color);">
<br/>
<br/>
<br/>
<div class="container text-center">
    <div class="row row-cols-auto">
        <div class="col-2">
            <!--Что-то-->
            <div class="block_div" th:if="${userLogin!=null}"
                 style="margin-top: 50px; margin-left: 0px; width: 230px; height: 500px; position: fixed;">
                <div class="block_div_no_color" style="margin-top: 0px;">
                    <br/>
                    <p class="block_p_no_color p-main-color" id="nameNavigation">Новости</p>
                </div>
                <hr class="block_line"/>
                <div style="margin-top: -15px; margin-left: -2px; height: auto; margin-right: 10px;">
                    <button class="btn btn-primary c-button"
                            style="width: 150px; margin-left: 10px; margin-top: 15px;" onclick="newsSort()">
                        Новости
                    </button>
                </div>
                <div style="margin-top: -2px; margin-left: -2px; height: auto; margin-right: 10px;">
                    <button class="btn btn-primary c-button"
                            style="width: 150px; margin-left: 10px; margin-top: 15px;" onclick="recSort()">
                        Рекомендации
                    </button>
                </div>
            </div>
            <div class="block_div" th:if="${userLogin==null}"
                 style="margin-top: 50px; margin-left: 0px; width: 230px; height: 500px; position: fixed;">
                <div class="block_div_no_color" style="margin-top: 0px;">
                    <br/>
                    <p class="block_p_no_color p-main-color">Рекомендации</p>
                </div>
                <hr class="block_line"/>
                <p style="text-align: center; margin-left: 5px; margin-right: 5px;">Вы не зарегистрированы</p>
                <a class="p-main-color" style="text-align: center; margin-left: 5px; margin-right: 5px;" href="/new">исправить</a>
            </div>
        </div>

        <div class="col-6 postList" style="height: auto; " id="postList">
            <table style="margin-top: 20px; height: 650px; width: 600px; margin-left: 50px;">
                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <!--Пост-->
                        <div class="block_div" style="padding: 5px 5px 20px; height: auto; margin-bottom: 5px;">
                            <div class="div_post_item_list">
                                <div class="idPost" style="display: none;">
                                    <p th:text="${post.getId()}"></p>
                                </div>
                                <div class="row" th:each="group : ${groups}"
                                     th:onclick="'toGroupPage(\'' + ${group.getId()} + '\');'">
                                    <div class="col-2 col-md-1" th:if="${post.getIdGroup() == group.getId()}">
                                        <img class="figure_img_post_item_list" alt="image"
                                             th:src="${group.getAvtar()}"/>
                                    </div>
                                    <div class="col align-self-center" style="margin-left: -30px;"
                                         th:if="${post.getIdGroup() == group.getId()}">
                                        <p class="name_post_item_list p-text-color"
                                           th:text="${group.getName()}"></p>
                                        <div>
                                            <p class="date_p_post_item_list p-text-color"
                                               th:text="${post.getDatePublication()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col align-self-center"
                                         style="margin-left: 0px; align-content: center">
                                        <p class="p-text-color"
                                           style="text-align: start; margin-left: 0px; margin-right: 0px; width: 525px; height: auto; max-height:120px; wrap-option: wrap; overflow-y: auto;"
                                           th:text="${post.getDescription()}"></p>
                                    </div>
                                </div>
                                <div th:if="${!post.getImg().isEmpty()}">
                                    <div class="row image" th:each="img : ${post.getImg()}">
                                        <div>
                                            <img align="middle"
                                                 style=" border-radius: 5px; display: block;height: 310px; width: 525px;"
                                                 th:src="${img}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col align-self-center"
                                         style="margin-left: 0px; justify-content: space-between;">
                                        <div class="like-container row">
                                            <button class="btn btn-primary"
                                                    th:onclick="'like(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 13px; width: 80px; height: 40px;">
                                                <content>
                                                    <i class="fa-regular fa-heart fa-bounce"
                                                       style="fill: var(--second-color); pointer-events: none;cursor: default;"></i>
                                                    <label class="label"
                                                           style="width: fit-content; pointer-events: none;cursor: default;"
                                                           th:text=" ${post.getLikes()}"></label>
                                                </content>
                                            </button>

                                            <button class="btn btn-primary c-button"
                                                    th:onclick="'comments(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 10px; width: 75px; height: 40px;">
                                                <i class="fa-regular fa-comment fa-beat-fade"
                                                   style="fill: var(--second-color);"></i>
                                                <label style="width: fit-content;"
                                                       th:text="${post.getComments()}"></label>
                                            </button>

                                            <button class="btn btn-primary c-button"
                                                    th:onclick="'view(\'' + ${post.getId()} + '\');'"
                                                    style="margin-left: 10px; width: fit-content; height: 40px;">
                                                <i class="fa-regular fa-eye" style="fill: var(--second-color);"></i>
                                                <label style="width: fit-content;"
                                                       th:text=" ${post.getViews()}"></label>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="commentsList" style="display: none; margin-top: 0px;">
                                        <!--<hr class="block_line"
                                            style="margin-left: 0px; width: 526px; margin-top: 20px; margin-bottom: -5px;"/>-->
                                        <div th:each="comment : ${comments}">
                                            <div th:if="${comment == null}">
                                                <p>Нет комментариев</p>
                                            </div>
                                            <div th:if="${comment != null}">
                                                <div th:if="${comment.getIdPost() == post.getId()}">
                                                    <div th:each="userC : ${users}">
                                                        <div th:if="${comment.getIdUser() == userC.getId()}">
                                                            <div class="row" style="margin-top: -5px;">
                                                                <!--Комментарий уровень 1-->
                                                                <div class="row"
                                                                     th:if="${comment.getIdComments() == 0}">
                                                                    <hr class="block_line"
                                                                        style="margin-left: 0px; width: 538px; margin-top: 15px; margin-bottom: -5px;"/>
                                                                    <div class="col-2" style="margin-top: 15px;">
                                                                        <img class="figure_img_comment_item_list"
                                                                             alt="image"
                                                                             th:src="${userC.getImg()}"/>
                                                                    </div>
                                                                    <div class="col-10 align-self-center"
                                                                         style="margin-left: -90px; align-content: start;">
                                                                        <p class="name_user_comment_item_list p-text-color"
                                                                           th:text="${userC.getLogin()}"></p>
                                                                        <div>
                                                                            <p class="description_comment_item_list p-text-color"
                                                                               th:text="${comment.getText()}"></p>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col align-self-center"
                                                                                 style="width: 400px; white-space: nowrap;">
                                                                                <p class="date_p_comment_item_list p-text-color"
                                                                                   th:text="${comment.getDate()}"></p>
                                                                            </div>


                                                                            <div style="width: 50px; height: 10px; margin-top: 0px; margin-left: -70px; white-space: nowrap; background: rgba(0, 0, 0, 0);">
                                                                                <!--Кнопка ответить и лайки!!!-->
                                                                                <button class="btn no-button c-button"
                                                                                        th:onclick="'answer(\'' + ${comment.getId()} + '\');'">
                                                                                    <p class="p-text-color"
                                                                                       style="font-size: 12px; margin-top: -65px; margin-left: -280px; color: var(--main-color);">
                                                                                        Ответить</p>
                                                                                </button>

                                                                                <div style="margin-top: -113px;">
                                                                                    <i class="fa-regular fa-heart"
                                                                                       style="color: var(--main-color); margin-top: 0px; margin-left: 95px;"></i>
                                                                                    <label style="width: fit-content; font-size: 12px; margin-top: 0px; color: var(--main-color);"
                                                                                           th:text="${comment.getLikes()}"></label>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div th:each="subComment : ${comments}">
                                                                    <div th:if="${subComment.getIdComments() == comment.getId()}">
                                                                        <hr class="block_line"
                                                                            style="margin-left: 75px; width: 450px; margin-top: -10px;"/>
                                                                        <div th:each="userSC : ${users}">
                                                                            <div th:if="${subComment.getIdUser() == userSC.getId()}">
                                                                                <div class="row"
                                                                                     style="margin-top: -20px; margin-left: 60px;">
                                                                                    <!--Комментарий уровень 2-->
                                                                                    <div class="col-2"
                                                                                         style="margin-top: 15px;">
                                                                                        <img class="figure_img_comment_item_list"
                                                                                             alt="image"
                                                                                             th:src="${userSC.getImg()}"/>
                                                                                    </div>
                                                                                    <div class="col-10 align-self-center"
                                                                                         style="margin-left: -80px; align-content: start;">
                                                                                        <p class="name_user_comment_item_list p-text-color"
                                                                                           th:text="${userSC.getLogin()}"></p>
                                                                                        <div>
                                                                                            <p class="description_comment_item_list p-text-color"
                                                                                               style="width: 370px;"
                                                                                               th:text="${subComment.getText()}"></p>
                                                                                        </div>
                                                                                        <div class="row"
                                                                                             style="margin-bottom: 0px;">
                                                                                            <div class="col align-self-center"
                                                                                                 style="width: 200px; white-space: nowrap;">
                                                                                                <p class="date_p_comment_item_list p-text-color"
                                                                                                   th:text="${subComment.getDate()}"></p>
                                                                                            </div>

                                                                                            <div style="width: 50px; height: 10px; margin-top: 0px; margin-left: -104px; white-space: nowrap; background: rgba(0, 0, 0, 0);">
                                                                                                <!--Кнопка ответить и лайки!!!-->
                                                                                                <button class="btn no-button c-button"
                                                                                                        th:onclick="'answer(\'' + ${comment.getId()} + '\');'">
                                                                                                    <p class="p-text-color"
                                                                                                       style="font-size: 12px; margin-top: -65px; margin-left: -280px; color: var(--main-color);">
                                                                                                        Ответить</p>
                                                                                                </button>

                                                                                                <div style="margin-top: -113px;">
                                                                                                    <i class="fa-regular fa-heart"
                                                                                                       style="color: var(--main-color); margin-top: 0px; margin-left: 95px;"></i>
                                                                                                    <label style="width: fit-content; font-size: 12px; margin-top: 0px; color: var(--main-color);"
                                                                                                           th:text="${comment.getLikes()}"></label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--<hr class="block_line"
                                                                                            style="margin-left: 75px; width: 372px; margin-top: -10px;"/>-->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div th:if="${comment.getIdComments() == 0}">
                                                                <hr class="block_line"
                                                                    style="margin-left: 75px; width: 450px; margin-top: -10px;"/>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${userLogin!=null}" style="display: none;">
                <div th:each="like : ${likes}">
                    <div th:if="${like.getPostUserId().getUserId()==userLogin.getId()}">
                        <script th:inline="javascript">
                            matchLike([[${like.getPostUserId().getPostId()}]]);
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <!--Список сообществ-->
            <div class="block_div"
                 style="margin-top: 50px; margin-left: 30px; width: 385px; height: 500px; position: fixed;">
                <div class="block_div_no_color" style="margin-top: 0px;">
                    <br/>
                    <p class="block_p_no_color p-main-color">Рекомендации</p>
                </div>
                <hr class="block_line"/>
                <table style="margin-top: -15px; margin-left: -2px; height: 400px; margin-right: 10px;" class="scroll">
                    <tbody>
                    <tr th:if="${groups.isEmpty()}">
                        </br>
                        <p style="justify-content: center;"> Нет сообществ </p>
                    </tr>
                    <tr th:each="group : ${groups}">
                        <td>
                            <form id="groupForm" action="#" th:action="@{/group/{id}(id=${group.getId()})}"
                                  method="get">
                                <button type="submit" class="no-button">
                                    <div class="div_group_item_list">
                                        <div class="row">
                                            <div class="col-2 col-md-1">
                                                <img class="figure_img_group_item_list" alt="image"
                                                     th:src="${group.getAvtar()}"/>
                                            </div>
                                            <div class="col align-self-center">
                                                <p class="name_group_item_list" th:text="${group.getName()}"> Имя </p>
                                                <div class="main_div_group_item_list">
                                                    <div class="icon_div_group_item_list">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                                        </svg>
                                                    </div>
                                                    <div class="subscribes_div_group_item_list">
                                                        <p class="subscribes_p_group_item_list"
                                                           th:text="${group.getSubscribes()}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-up btn-up_hide"></div>
</div>

<div class="b-container" style="display: none;">
</div>
<!--Пост развёрнутый-->
<div class="b-popup" id="postDetails">
    <div class="center-screen" style="margin-top: -20px; margin-left: -40px;">
        <div class="block_div" style="width: 600px; height: 700px;">
            <div class="block_div" style="padding: 5px 5px 20px; height: auto; width: auto; margin-bottom: 5px;">
                <div class="div_post_item_list2" style="margin-left: 10px;">
                    <div class="scroll" style="height: 600px; margin-left: 15px; margin-right: 10px;">
                        <div class="col align-self-center btnClosePostDetails"
                             style="position: absolute; top: 35px; right: 20px;">
                            <button class="btn btn-primary bet_time"
                                    style="margin-top: 15px; margin-left: 50px;" onclick="commentsOff()"> X
                            </button>
                        </div>
                        <div id="divPostDetails">
                        </div>
                    </div>
                    <div class="row" style="position: absolute; bottom: 10px; " th:if="${userLogin!=null}">
                        <!--Отправка комментария-->
                        <div class="block_div"
                             style="width: 538px; height: 70px; margin-left: 20px; margin-top: -20px;">
                            <div class="row" style="margin-top: -25px; margin-bottom: -20px;">
                                <hr class="block_line" style="margin-left: 7px; width: 526px; margin-top: 25px"/>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-2" style="margin-top: 0px;">
                                    <img class="figure_img_comment_item_list" alt="image"
                                         th:src="${userLogin.getImg()}"/>
                                </div>
                                <div class="col-9" style="margin-top: 10px; margin-left: -15px;">
                                    <input required type="text" name="name" class="form-control margin-top-20"
                                           id="commentsInput"
                                           aria-describedby="nameHelp" placeholder="Комментарий..."
                                           style="width: 400px;"
                                           minlength="1" oninvalid="this.setCustomValidity('Пустое поле не допустимо')"
                                           oninput="this.setCustomValidity('')"/>
                                </div>
                                <div class="col-1" style="margin-top: 10px; margin-left: 5px;">
                                    <!-- <button class="btn btn-primary c-button"
                                             th:onclick="'sendComments(\'' + ${post.getId()} + '\');'"
                                             style="margin-left: 10px; width: 75px; height: 40px;">
                                         <i class="fa-regular fa-comment fa-beat-fade"
                                            style="fill: var(&#45;&#45;second-color);"></i>
                                         <label style="width: fit-content;" th:text="100"></label>
                                     </button>-->
                                    <i id="sendComments" class="fa-regular fa-paper-plane"
                                       style="color: var(--main-color); font-size: 30px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center; position: absolute; bottom: 10px; "
                         th:if="${userLogin==null}">
                        <div class="block_div"
                             style="width: 538px; height: 70px; margin-left: 20px; margin-top: -20px;">
                            <div class="row" style="margin-top: -25px; margin-bottom: -20px;">
                                <hr class="block_line" style="margin-left: 7px; width: 526px; margin-top: 25px"/>
                                <p>
                                    Чтобы прокомментировать пост необходимо <a href="/new">зарегистрироваться</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        //Скрыть PopUp при загрузке страницы
        dateReload();
        $("#postDetails").hide();
    });
    let selectedPostId;
    let subComment = 0;

    function comments(postId) {
        const div = document.getElementsByClassName("div_post_item_list");
        for (let i = 0; i < div.length; i++) {
            if (div[i].getElementsByTagName('p')[0].textContent === postId) {
                selectedPostId = postId;
                document.querySelector("#divPostDetails").innerHTML = div.item(i).innerHTML;
                document.querySelector("#divPostDetails").getElementsByClassName("commentsList")[0].style.display = "block";
                $("#postDetails").show();
            }
        }
    }


    function answer(commentId) {
        subComment = commentId;
        const inputComments = document.getElementById('commentsInput');
        alert(inputComments.innerText);
        let inputText = inputComments.value;
        inputComments.value = "|ответ| " + inputText;

    }

    document.getElementById('sendComments')
        .addEventListener('click', function (event) {
            const inputComments = document.getElementById('commentsInput');
            if (inputComments.value !== "") {
                if(!inputComments.value.includes("|ответ|")) subComment = 0;
                const formData = {
                    postId: selectedPostId.toString(),
                    textComment: inputComments.value.replace("|ответ| ",""),
                    idComments: subComment,
                };
                $.ajax({
                    url: "/sendComment",
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response === "Success") {
                            inputComments.value = "";
                            subComment = 0;
                            const deleteElement = document.querySelector("#divPostDetails");
                            deleteElement.innerHTML = '';
                            $("#postDetails").hide();
                            $.get("/updatePostList").done(function (fragment) { // get from controller
                                $('.postList').replaceWith(fragment);
                            });
                            const div = document.getElementsByClassName("div_post_item_list");
                            alert(div.length);
                            for (let i = 0; i < div.length; i++) {
                                if (div[i].getElementsByTagName('p')[0].textContent === selectedPostId) {
                                    document.querySelector("#divPostDetails").innerHTML = div.item(i).innerHTML;
                                    document.querySelector("#divPostDetails").getElementsByClassName("commentsList")[0].style.display = "block";
                                    $("#postDetails").show();
                                }
                            }
                        }
                    }
                });
            }
        });

    function updatePostList() {
        $.get("/updatePostListHomePage").done(function (fragment) { // get from controller
            $('.postList').replaceWith(fragment);
        });
        dateReload();
    }

    function commentsOff() {
        const deleteElement = document.querySelector("#divPostDetails");
        deleteElement.innerHTML = '';
        $("#postDetails").hide();
        if (document.getElementById('nameNavigation').innerText === "Новости") {
            newsSort();
        } else {
            recSort();
        }
    }


    function view(postId) {
        updatePostList();
    }
</script>
<script>
    function newsSort() {
        $.get("newSort").done(function (fragment) { // get from controller
            $("#postList").replaceWith(fragment); // update snippet of page
            dateReload();
        });
        document.getElementById('nameNavigation').innerText = "Новости";
    }

    function recSort() {
        $.get("recSort").done(function (fragment) { // get from controller
            $("#postList").replaceWith(fragment); // update snippet of page
            dateReload();
        });
        document.getElementById('nameNavigation').innerText = "Рекомендации";
    }


</script>
<script>
    function toGroupPage(groupId) {
        window.location.href = "/group/" + groupId + "?";
    }
</script>
<script>
    var ad = $('#addBlock');
    var min_scroll = 20; // Set your minimum scroll amount here
    $(window).scroll(
        function () {
            var t = $(window).scrollTop();
            if (t > min_scroll) {
                // define your scroll CSS here
                ad.css({marginTop: -280});
                ad.css({position: "fixed"});
            } else {
                ad.css({marginTop: 30});
                ad.css({position: "absolute"});
            }
        }
    );
</script>
<script>
    <!--  Кнопка "наверх"  -->
    const btnUp = {
        el: document.querySelector('.btn-up'),
        scrolling: false,
        show() {
            if (this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.remove('btn-up_hide');
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        hide() {
            if (!this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
                this.el.classList.add('btn-up_hiding');
                window.setTimeout(() => {
                    this.el.classList.add('btn-up_hide');
                    this.el.classList.remove('btn-up_hiding');
                }, 300);
            }
        },
        addEventListener() {
            // при прокрутке окна (window)
            window.addEventListener('scroll', () => {
                const scrollY = window.scrollY || document.documentElement.scrollTop;
                if (this.scrolling && scrollY > 0) {
                    return;
                }
                this.scrolling = false;
                // если пользователь прокрутил страницу более чем на 200px
                if (scrollY > 200) {
                    // сделаем кнопку .btn-up видимой
                    this.show();
                } else {
                    // иначе скроем кнопку .btn-up
                    this.hide();
                }
            });
            // при нажатии на кнопку .btn-up
            document.querySelector('.btn-up').onclick = () => {
                this.scrolling = true;
                this.hide();
                // переместиться в верхнюю часть страницы
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            }
        }
    }

    btnUp.addEventListener();
</script>
</html>